.nav-list-items{
    font-weight: 600;
}
.nav-list-items:hover{
    color: #F7B41A;
}

.glow {
    animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        opacity: 0.8;
        text-shadow: 0 0 10px #F7B41A;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 20px #F7B41A, 0 0 30px #F7B41A, 0 0 40px #F7B41A, 0 0 50px #F7B41A;
    }
}

.nav-list-items {
    position: relative;
}

.menu-text {
    position: relative;
    z-index: 1;
}

.rainbow-glow {
    position: absolute;
    /* top: 10%;
    left: calc(100% + 10px); */

    top: 1rem;
    left: 1.7rem;
    transform: translate(-50%, -50%);
    /* padding: 2px 10px; */

    font-size: 12px;
    border-radius: 5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    color: #fff;
    text-transform: uppercase;
    animation: animate 8s linear infinite;
    transition: 0.5s;
    color: #162f56;
    /* color: #02042a; */
    /* color: #02042a; */
    font-weight: bolder;
}

.rainbow-glow:hover {
        
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

